<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>PokePricer</title>
  <script crossorigin src="https://unpkg.com/react@15/dist/react.min.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
  <script crossorigin src="https://unpkg.com/prop-types/prop-types.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.6.2/remarkable.min.js"></script>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body> 
  <nav><a href="/pokePage"><img id="logo" src="/assets/img/Pokeball.png" alt="face logo"/></a>
    <div class="navlink"><a id="loginButton" href="/profile">Profile</a></div>
  </nav>
  <section id="content"></section>
  <div id="pokeMessage">
    <h3><span id="errorMessage">Passwords do not match</span></h3><img id="pokeball" src="assets/img/Pokeball.png" alt="ball"/>
  </div>
  <script src="/assets/loginBundle.js"></script>
</body>
</html>